<h2><img ng-if="currentArtist.images" src="{{currentArtist.images[0]['40']}}">{{currentArtist.name}}</h2>

<form class="form-inline">
	<span>Date range: </span>
	<input id="startDate" class="date-picker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="startDate">
	<input id="endDate" class="date-picker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="endDate">
	<button class="btn" ng-click="loadData()">Load data</button>
	<img src="images/loading.gif" ng-if="loading">
</form>

<impact-graph ng-if="dataLoadCounter.count"></impact-graph>